@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@700&family=Poppins:wght@200;400&family=Prompt:wght@200;300&display=swap');

header {
    border-bottom: 1px solid rgba(235, 232, 244, 1);
    max-width: 1440px;
}

.header-container {
    margin: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1440px;
    margin: auto 80px;
}


.nav-bar-menu {
    margin-left: 140px;
    float: left
}

.nav-bar-list {
    list-style: none;
    display: flex;
    column-gap: 52px
}

.nav-bar-list a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-decoration: none;
    color: rgba(114, 110, 141, 1);
}

.images {
    margin-left: 240px;
    margin-top: 6px;
}

.images img {
    margin-left: 10px;
}

.all-products__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    color: rgba(42, 37, 75, 1);
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.all-products__filters {
    display: flex;
    margin-top: 50px;
}

.left-filters {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    grid-gap: 40px;
    margin-left: 30px;
}

.filter-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(42, 37, 75, 1);
    border: none;
    padding: 10px 20px;
    outline: none;
}


.filter-list option {
    border: none;
}

.right-filters {
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

.Sorting {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: rgba(42, 37, 75, 1);
    padding: 10px 20px;
}

.all-products__cards {
    display: grid;
    grid-template-columns: 325px 325px 325px 325px;
    margin-top: 50px;
}

.all-products__cards a {
    text-decoration: none;
}

.card {
    margin-bottom: 50px;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: rgba(42, 37, 75, 1);
    margin-top: 15px;
}

.card-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: rgba(42, 37, 75, 1);
    margin-top: 5px;
}

.View-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(42, 37, 75, 1);
    padding: 10px 25px;
    background: rgba(249, 249, 249, 1);
    border: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.join-club {
    height: 521px;
    margin-top: 40px;
    background-image: url("../images/sofa.png");
    background-repeat: no-repeat;  
}

.join-club__content {
    width: 640px;
    float: right;
}


.join-club__title {
    font-family: 'Montserrat' , sans-serif;
font-size: 32px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0em;
text-align: right;
color: rgba(42, 37, 75, 1);
margin-right: 50px;
margin-top: 70px;
}

.join-club__subtitle {
    font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(42, 37, 75, 1);
width: 470px;
margin-left: 50px;
margin-top: 30px;
}

.sign-up-btn {
font-family: 'Open Sans' , sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
background: rgba(42, 37, 75, 1);
padding: 16px 32px;
border: none;
cursor: pointer;
margin-top: 210px;
margin-left: 70px;
}

footer {
    background: rgba(42, 37, 75, 1);
}

.footer__text-title {
    font-family: 'Montserrat' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);   
    margin-bottom: 10px; 
    text-decoration: none;
    display: inline-block;
}

.footer__text {
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);  
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
}

.footer__all-content {
    display: flex;
    margin-bottom: 70px;
}

.footer__text-container {
    margin-right: 95px;
    margin-top: 70px;
}

.map-image {
    margin-top: 70px;
}

.copyright-all-content {
    border-top: 1px solid rgba(78, 77, 147, 1);
    display: flex;
}

.copyright {
padding: 30px 0;
font-family: 'Open Sans' , sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;

color: rgba(255, 255, 255, 1);
}

.social-networks {
padding: 27px 0;
margin-left: auto
}

.social-networks-icons {
margin-left: 30px;
}

:root {
    --background-color: #ffffff;
    --text-color: #2a254b;
    --button-background: #f9f9f9;
    --button-text-color: #2a254b;
}

[data-theme="dark"] {
    --background-color: rgba(42, 37, 75, 1);
    --text-color: rgba(255, 255, 255);
    --button-background: rgba(42, 37, 75, 1);
    --button-text-color: rgba(255, 255, 255);
    --select-background: rgba(81, 72, 141);
    --select-text-color: rgba(255, 255, 255);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--button-background);
    color: var(--button-text-color);
}

select {
    background-color: var(--select-background);
    color: var(--select-text-color);
}


